body {
    background-color: #f3f4f6;
}
.tab-active {
    border-bottom: 2px solid #3b82f6;
    color: #2563eb;
    font-weight: bold;
}

/* Modifikasi Reader untuk pas di kotak Kanan (Full Size) */
#reader {
    width: 100% !important;
    height: 100% !important;
    border: none !important;
    display: flex;
    flex-direction: column;
}
#reader__scan_region {
    flex-grow: 1;
    border-radius: 12px;
    overflow: hidden;
    position: relative;
    background: black;
    width: 100% !important;
    height: 100% !important;
}
#reader__scan_region img {
    display: none !important;
} /* Sembunyikan frame bawaan scanner */
#reader video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
    object-fit: cover !important;
    transform: scaleX(-1);
    border-radius: 12px;
}

/* KIOSK MODE: Sembunyikan UI bawaan */
#reader__dashboard_section_csr {
    display: none !important;
}
#reader__dashboard_section_swaplink {
    display: none !important;
}
#reader__action_span {
    display: none !important;
}
#reader a {
    display: none !important;
    pointer-events: none;
}
#view-scanner {
    cursor: default;
}

@media print {
    body * {
        visibility: hidden;
    }
    #printArea,
    #printArea * {
        visibility: visible;
    }
    #printArea {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
        padding-top: 20px;
    }
    .break-inside-avoid {
        page-break-inside: avoid;
        break-inside: avoid;
    }
    .no-print {
        display: none !important;
    }
    * {
        -webkit-print-color-adjust: exact !important;
        print-color-adjust: exact !important;
    }
}
